{
  "CLIENT_ID": "<ENTER CLIENT ID>",
  "CLIENT_SECRET": "<ENTER CLIENT SECRET>",
  "ACCOUNT_ID": "<YOUR ACCOUNT PHONE NUMBER>",
  "ACCOUNT_PASSWORD": "<YOUR ACCOUNT PASSWORD>",
  "RINGCENTRAL_SERVER": "https://platform.devtest.ringcentral.com",
  "RINGCENTRAL_EXTENSION": "<YOUR EXTENSION, PROBABLY "101">"
}